<% @title = 'Forgot your password?' %>
<% @back_link = root_path %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field group">
    <%= f.email_field :email, class: text_input_class, placeholder: ' ', autofocus: true, autocomplete: "email" %>
    <%= f.label :email, class: label_class %><br />
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
